<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-icon name="arrow-back-outline" (click)="backicon()"></ion-icon>
      <ion-title style="text-align: center;" >Shot List</ion-title>
    </ion-buttons>
    <ion-tab-bar>
      
    </ion-tab-bar>
  </ion-toolbar>
</ion-header> 

<!-- <ion-header [translucent]="true">
  <ion-toolbar style="background-color: #0095fc;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Slugline List</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content  >
  <div *ngFor="let shot of shotList">
        <ion-card  >
          <ion-card-header>
            <!-- <ion-card-subtitle>1</ion-card-subtitle> -->
            <ion-card-title>{{shot.ShotHighlight.SD_title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
          <a (click)="ShowDetails(shot.shotType)" style="float: left; text-decoration: none; font-size: small;">Shot Details</a>
          <a (click)="showtake()" style=" text-decoration: none; font-size: small;float: right;">Taks</a>
          </ion-card-content>
          <ion-card-content>
            
          </ion-card-content>
        </ion-card>
    </div>
</ion-content>
