
<ion-content fullscreen>
  
  <ion-grid class="grid1">
    
    <ion-row class="row1">
      <!-- <img src="./assets/images/f2.jpg"> -->
  </ion-row>
  
      <!-- <ion-row class="row1">
          <ion-col>
            <img src="./assets/images/f2.jpg">
          </ion-col>
      </ion-row> -->
  
      <!-- <ion-row class="row2">
          <ion-col>
            <img src="./assets/images/logo2.png">
          </ion-col>
      </ion-row> -->
  
  </ion-grid>
  
  <form [formGroup]="form"  (ngSubmit)="onSubmit()">
  <ion-slide style="top:40%" [hidden]="!hideOTP">
      <div class="contaier-login">
          <ion-grid>
              <ion-row style="color:black">
                  <ion-col>
                    <ion-col class="img-container">
                      <img src="./assets/images/cardimg.png">
                      <!-- <img src="./assets/images/logo2.png"> -->
                    </ion-col>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-list style="background-color: #ffffff;">
                          <ion-item>
                            <ion-input type="text" (ionChange)="error_empty()" formControlName="username" style="height: 55px;" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                            </ion-input>
                            <ion-icon class="passwordIcon" name="person-outline" ></ion-icon>
                          </ion-item>
                          <ion-label class="error_msg" *ngIf="submitted && f.username.errors?.required">Username is required</ion-label>
                          <ion-label class="error_msg" *ngIf="submitted && f.username.errors?.email">Enter valid Email Address</ion-label>
                          <br/>
                          <ion-item>
                            <ion-input [type]="passwordType" (ionChange)="error_empty()" formControlName="password" style="height: 55px;" placeholder="password"></ion-input>
                            <ion-icon class="passwordIcon" item-end [name]="passwordIcon" (click)='hideShowPassword()'></ion-icon>
                            <!-- <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon> -->

                          </ion-item>
                          <ion-label class="error_msg" *ngIf="submitted && f.password.errors?.required">password is required</ion-label>
                          <ion-label class="error_msg" *ngIf="Incorrect_login">Incorrect password or username</ion-label>
  
                      </ion-list>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-col class="signup-col">
                        <button ion-button class="submit-btn" full type="submit">Login</button>
                      </ion-col>
                  </ion-col>
              </ion-row>
              <!-- <ion-row>
                  <ion-col>
                      <ion-label>
                        <h3 style="color: black;">WRITE PLAN SHOOT</h3>
                      </ion-label>
                  </ion-col>
              </ion-row> -->
          </ion-grid>
      </div>
  </ion-slide>

</form>


<!-- OTP Design -->

<form [formGroup]="otpForm"  (ngSubmit)="onOTPSubmit()">
  <ion-slide style="top:40%" [hidden]="hideOTP">
      <div class="contaier-login">
          <ion-grid>
              <ion-row style="color:black">
                  <ion-col>
                    <ion-col class="img-container">
                      <img src="./assets/images/cardimg.png">
                      <!-- <img src="./assets/images/logo2.png"> -->
                    </ion-col>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-list style="background-color: #ffffff;">
                          <ion-item>
                            <ion-input type="number" (ionChange)="error_empty()" formControlName="otp" class="form-control" placeholder="Verify OTP"></ion-input>
                            <ion-icon name="Key" item-right primary></ion-icon>
                          </ion-item>
                          <ion-label class="error_msg" *ngIf="otpSubmitted && otpf.otp.errors?.required">OTP is required</ion-label>
                          <ion-label class="error_msg" *ngIf="Incorrect_login_OTP">Incorrect OTP</ion-label>
                      </ion-list>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-col class="signup-col">
                        <button ion-button class="submit-btn" full type="submit">Verify OTP</button>
                      </ion-col>
                  </ion-col>
              </ion-row>
              <!-- <ion-row>
                  <ion-col>
                      <ion-label>
                          <h3 style="color: black;">WRITE PLAN SHOOT</h3>
                      </ion-label>
                  </ion-col>
              </ion-row> -->
          </ion-grid>
      </div>
  </ion-slide>

</form>
</ion-content>