.grid1 {
  height: 100%;
  padding: 0px;
}

.contaier-login {
  width: 85%;
  padding: 10px;
  background: #FFFFFF;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}


.row1 {
  height: 100%;
  // background: -moz-linear-gradient(45deg, rgba(61, 66, 150, 1) 0%, rgba(84, 74, 171, 0.8) 100%);
  // background: #0095fc;
  background: #ffff;
  // background: linear-gradient(45deg, rgb(53, 55, 90) 0%, rgba(84, 74, 171, 0.8) 100%);
}

.row2 {
  height: 50%;
}

ion-icon {
  margin-right: 15px;
}

ion-button {
  margin-top: 5px;
  margin-bottom: 15px;
}

ion-slide {
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: -10% !important;
}

ion-item {
  border-radius: 15px !important;
  // padding-left: 0px !important;
  font-size: 0.9em;
  border: 1px solid #ffffff;
  // border-bottom: 0px !important;
  box-shadow: none !important;
}

.submit-btn {
  background: #428cff;
  border-radius: 30px !important;
  border: 1px solid #ffffff;
  width: 64%;
  height: 45px;
}
.error_msg{
  float: left;
  margin-left: 12px;
  letter-spacing: 0.05em;
  color: #ff4040;
  font-size: smaller;
  font-style: revert;
}

.passwordIcon{
  font-size:1.75rem !important;
  position: relative !important;
  // top: 22px !important;
  margin: 0 auto !important;
  color: #428cff;
}