<ion-tabs>
  <ion-tab-bar slot="top">
   <ion-icon name="arrow-back-outline" (click)="backicon()"></ion-icon>
    <ion-tab-button tab="tab1">
      <ion-icon name="bag-handle-outline"></ion-icon>
      <ion-label>Shot Scene</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab2" (click)="opentab()">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Take</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>